@font-face {
    font-family: "Space Mono";
    src: url(/Fonts/Space_Mono/SpaceMono-Regular.ttf);
}

@font-face {
    font-family: "Fucked Olympia";
    src: url("/Fonts/fucked_olympia_j/9FUKOLYM.TTF");
}

@font-face {
    font-family: "Terminal Grotesque";
    src: url("/Fonts/Terminal-Grotesque-master/Terminal-Grotesque-master/terminal-grotesque.ttf");
}

body,
html {
    font-family: "Space Mono", serif;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}


body {
    height: 100vh;
}

#navAnim {
    position: absolute;
    top: 18%;
    scale: 90%;
    display: flex;
    height: 90%;
    align-items: center;
    justify-self: end;

}

#homeNavBase {

    position: absolute;
    top: -130px;
}

.homeHidden {
    position: absolute;
    top: -130px;
    display: none;
}

.homeHover {
    position: absolute;
    top: -130px;
    display: block;
}

#navMap {
    width: 1152px;
    height: 768px;
    position: absolute;
    top: -130px;
}

#navMapAbout {
    height: 500px;
    width: 275px;
    /* background-color: rgba(153, 205, 50, 0.585); */
    z-index: 3;
    position: absolute;
    top: 250px;
    left: 500px;
    border-radius: 50%;
}

#navMapFiber {
    height: 70px;
    width: 150px;
    /* background-color: rgba(51, 76, 215, 0.537); */
    z-index: 3;
    position: absolute;
    top: 350px;
    left: 250px;
    rotate: 25deg;
    border-radius: 25%;
}

#navMapPhoto {
    height: 80px;
    width: 100px;
    /* background-color: rgba(215, 51, 127, 0.537); */
    z-index: 3;
    position: absolute;
    top: 350px;
    left: 785px;
    border-radius: 25%;
}

#navMapIllus {
    height: 115px;
    width: 150px;
    /* background-color: rgba(215, 51, 51, 0.537); */
    z-index: 3;
    position: absolute;
    top: 450px;
    left: 165px;
    rotate: -20deg;
    border-radius: 25%;
}

#navMapCode {
    height: 225px;
    width: 400px;
    /* background-color: rgba(51, 193, 215, 0.537); */
    z-index: 2;
    position: absolute;
    top: 115px;
    left: 375px;
    border-radius: 25%;
}

.indexNav a {
    text-decoration: none;
    padding: 0px 5px;
    background-color: rgb(28, 28, 28);
    color: white;
}

.indexNav a:hover {
    color: rgb(95, 95, 95);
    background-color: rgb(255, 191, 0);
    ;
}

menu {
    display: flex;
    height: 5%;
    position: fixed;
    width: 100%;
    border-bottom: solid 1px;
    background-color: white;
    margin-top: 0px;
    z-index: 3;
    justify-content: space-between;
}

main {
    position: absolute;
    top: 100px;
    margin: 0px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.typeTitle {
    font-family: "Terminal Grotesque", "Fucked Olympia", 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 68px;
    display: flex;
    justify-content: center;
    height: 100px;
}


p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.pageSect {
    margin: auto;
    width: 100%;
    width: 800px;
    height: 300px;
    display: flex;
    padding-bottom: 35px;
    padding-top: 35px;
    justify-content: space-between;
}

.blurbC {
    width: 60%;
    height: 100%;
    padding: 0px;
    margin: auto;


}

.blurbR {
    width: 500px;
    height: 300px;
    margin-left: 60px;
    align-content: center;

}

.blurbL {
    width: 500px;
    height: 300px;
    margin-right: 60px;
    align-content: center;

}

.indexNav {
    list-style-type: none;
}

ul {
    margin: 0px;
    padding: 10px;
}

.indexNav li {
    display: inline;
    padding: 0px 5px;
}

footer {
    font-size: 10px;
    color: gray;
    position: fixed;
    bottom: 0px;
    width: 100%;
    border-top: solid 1px;
    height: 8%;
    background-color: white;
    z-index: 5;
    display: flex;
    justify-content: center;
}

.footerText {
    padding: 10px;
    width: 50%;
}

#insectSprites {
    margin: 25px auto;
}

.spriteRow {
    width: 650px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.sprite {
    display: inline-flex;
    height: 100px;
    width: 100px;
    outline: solid 1px;
    border-radius: 10px;
    margin: 15px 0px;
}


.imgBug {
    height: 75px;
    margin: auto;
}

.imgBug:hover {
    height: 90px;
    cursor: help;
}

#indexBod {
    background-color: black;
    overflow: hidden;
}

figure {
    padding: 0;
    margin: 0;
}

.secImg:hover {
    filter: grayscale(100%) !important;
}

#backTape {
    z-index: -1;
    position: absolute;
    width: 400px;
    height: 300px;
    object-fit: cover;
    object-position: 100%;
    filter: contrast(1.75) grayscale(90%);
}

.secImg {
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: 37% 80%;
    outline: solid 1px black;
    transition: filter ease-in .5s !important;
}

h4 {
    font-family: 'Terminal Grotesque';
    font-size: 36px;
    text-align: center;
    padding: 0;
    margin-bottom: 15px;
    margin-top: 0px;
}

table {
    width: 800px;
    margin: auto;
    height: 300px;
    border-collapse: collapse;

}

tr {
    height: 40px;

}

tr:hover {
    background-color: rgb(255, 191, 0);
    cursor: help;

}

th {
    height: 40px;
    text-align: center;
    width: 200px;
    margin: auto;
}

td {
    height: 40px;
    text-align: center;
    width: 200px;
    margin: auto;
}

.titleTd {
    font-style: italic;
}

.tabs {
    display: flex;
    padding-right: 60px;
    padding-top: 5px;
}

.tabCont {
    padding: 5px 10px;
    border: solid 1px black;
    border-radius: 10px 10px 0 0;
    border-bottom: none;
}

.tabCont a {
    text-decoration: none;
    color: white;
    background-color: none;
}

#tabMacro {
    background-color: white;
}

#tabTravel {
    background-color: rgb(234, 233, 233);
}

#tabBio {
    color: rgb(241, 241, 241);
    background-color: rgb(31, 31, 31);
}


#photobioJump {
    z-index: 3;
    position: fixed;
    top: 200px;
    color: white !important;
}

#phototravelJump {
    z-index: 3;
    position: fixed;
    top: 200px;

}

.jumpLinks {
    list-style-type: none;

}

.jumpLinks li {
    padding-top: 25px;
    padding-bottom: 25px;
}

#photobioJump .jumpLinks li a {
    text-decoration: none;
    color: rgb(246, 246, 246);
}

.jumpLinks li a {
    text-decoration: none;
    color: rgb(76, 76, 76);
}

.colSecondary {
    color: rgb(195, 194, 194);
    margin-left: 15px;
}

#bodyTravel {
    background-color: rgb(234, 233, 233);
}

#bodyBio {
    background-color: black;
    color: white;
}

.gallery {
    display: grid;
    width: 60%;
    margin: 20px auto 0px;
    justify-content: center;
    grid-template-columns: auto auto auto auto auto;
}

.galleryImg {
    overflow: hidden;
}

.galleryImg img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 10px;
    border-radius: 5px;
}

.galleryImg img:hover {
    scale: 110%;
    cursor: help;
}

/* MODAL IMAGES */
.modal {
    display: none;
    position: fixed;
    z-index: 37;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    align-content: center;
}

.modalImg {
    margin: auto;
    display: flex;
    display: block;
    width: 40%;
}

#illusCapt {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
    text-align: center;
    color: white;

}


.macroImg {
    margin: auto;
    display: flex;
    display: block;
    width: 40%;
}

#macroCapt {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
    text-align: center;
    color: white;

}

/* CODE PANEL */
#projectPanel {
    margin: auto;
    height: 300px;
    width: 800px;
    outline: solid 1px black;
    margin-top: 40px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

#projectPanel p {
    width: 50%;
    height: 100%;
    align-content: center;
}

#cateG:hover {
    background-color: white;
}